/* Google Fonts */
body {
  font-family: "Poppins", sans-serif;
}
/* Carousel Part */
.banner-button {
  text-decoration: none;
  background-color: whitesmoke;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.carousel-inner img {
  width: 100%;
  height: 480px;
}
.banner {
  margin-top: 60px;
  margin-bottom: 160px;
}
/* Package Part */
.package {
  margin-bottom: 85px;
}
.wedding-plus {
  width: 300px;
  height: 450px;
  padding: 10px 22px;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px gray;
  margin-left: 28px;
}
.bonus-part {
  margin-bottom: 85px;
}
